name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          global-json-file: global.json
          dotnet-version: 8.0.x
      - name: Build
        run: dotnet build src --configuration Release
      - name: Run tests
        run: dotnet test src --configuration Release
